@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oswald:wght@200..700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-oswald: "Oswald", sans-serif;
  
}

::-webkit-scrollbar {
  display: none;
}
